.hi {
    color: red;
}

#pro {
    color: rgb(235, 167, 79);
    font-weight: bold;
}

.keyword {
    color: brown;
    font-size: 25px;
}

.prdName {
    color: brown
}

.delete {
    background: brown;
    padding: 15px 15px;
    color: white;
    text-align: center;
}

.btn-sty {
    
    color:#080c12;
    background-color: #297bff;
    font-weight: bold;
}

.btn-sty:hover {
    color: #bbd6ff;
    background-color: #297bff;
}